<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 1-->
        <select-list data-comp-id="selectList.1">Line</select-list>
        <label class="item item-input" data-comp-id="textInput.1">
            <span class="input-label">Station</span>
            <input ng-model="data.string" type="text">
        </label>
        <label class="item item-input item-date-icon positive-icon"
            data-comp-id="dateInput.1">
            <span class="input-label">Date From</span>
            <input date-format="undefined" max="2100-12-12" min="1900-01-01"
                ng-model-options="{allowInvalid: true}" ng-model="data.date" type="date">
        </label>
        <label class="item item-input item-date-icon positive-icon"
            data-comp-id="dateInput.2">
            <span class="input-label">To</span>
            <input date-format="MM/DD/YYYY" max="2100-12-12" min="1900-01-01"
                ng-model-options="{allowInvalid: true}" type="date">
        </label>
        <label class="item item-input" data-comp-id="textInput.2">
            <span class="input-label">Original Qty</span>
            <input ng-model="data.string2" type="text">
        </label>
        <!--Container 1-->
        <!--Container 2-->
        <label class="item item-input" data-comp-id="textInput.3">
            <span class="input-label">Pass Qty</span>
            <input type="text">
        </label>
        <label class="item item-input" data-comp-id="textInput.4">
            <span class="input-label">Fail Qty</span>
            <input type="text">
        </label>
        <multiselect-list data-comp-id="multiselectList.1"
            ng-model="data.multiSelectData" select-class=" positive-icon">Defect Code</multiselect-list>
        <label class="item item-input" data-comp-id="textInput.5">
            <span class="input-label">Defect Qty</span>
            <input type="text">
        </label>
        <!--Container 3-->
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div data-comp-id="div.1"><img data-comp-id="image.1" data-img="" ng-src="images/add2.png" style="">
            <div class="item item-icon-right" data-comp-id="item.1">
                <div data-comp-id="text.1">
                    Some text
                    <span class="item-note"></span>
                </div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.1" style="font-size:32px"></i>
            </div>
        </div>
        <button
            class="button button-block positive-icon icon-left ion-checkmark-circled button-footer-center"
            data-comp-id="button.3">Click here</button>
    </ion-content>
</ion-view>