<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1"></ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.1" style="padding: 0px;">
            <div class="col" data-comp-id="column.1" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-round button-shadowed ion-android-add-circle"></button>
                    <div class="label">ADD</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.2" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed ion-compose"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col text-right" data-comp-id="column.3" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.3">
                    <button class="button icon ion-android-person button-round button-shadowed"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>