<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1" style="padding: 10px 5px 5px 10px;">
                    <div class="" data-comp-id="text.1" style="font-size: 16px;">Section One</div>
                </div>
            </div>
        </div>
        <!--Form Section-->
        <!--Container 1-->
        <label class="item item-input" data-comp-id="textInput.1">
            <span class="input-label">Input Label</span>
            <input ng-model="data.string" type="text">
        </label>
        <label class="item item-input" data-comp-id="textInput.2">
            <span class="input-label">Input Label</span>
            <input ng-model="data.string2" type="text">
        </label>
        <label class="item" data-comp-id="takePhoto.1"
            ng-class="{'item-input item-button-right': style === 'control'}"
            take-photo="control">
            <span class="input-label" ng-if="style === 'control'">Add Attachment</span>
            <button class="button button-icon" ng-if="style === 'control'">
                <i class="icon positive-icon ion-camera"></i>
            </button>
            <input disabled="" ng-if="style === 'control'" type="text">
            <button class="button button-block button-positive nomargin"
                ng-if="style === 'button'">Take Photo</button>
            <textarea class="not-visible"></textarea>
        </label>
        <!--Container 1-->
        <!--Container 2-->
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2" style="padding: 10px 5px 5px 10px;">
                    <div class="" data-comp-id="text.2" style="font-size: 16px;">Section Two</div>
                </div>
            </div>
        </div>
        <!--Container 3-->
        <multiselect-list data-comp-id="multiselectList.1"
            ng-model="data.multiSelectData" select-class=" positive-icon">Input Label</multiselect-list>
        <multiselect-list data-comp-id="multiselectList.2"
            ng-model="data.multiSelectData2" select-class=" positive-icon">Input Label</multiselect-list>
        <!--Container 3-->
        <!--Form Section-->
        <div data-comp-id="div.3">
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3" style="padding: 10px 5px 5px 10px;">
                    <div class="" data-comp-id="text.3" style="font-size: 16px;">Section Three</div>
                </div>
            </div>
        </div>
        <!--Form Section-->
        <!--Container 4-->
        <ion-checkbox
            class="checkbox-position-right checkbox-style-square positive-icon-border positive-icon-checked"
            data-comp-id="checkbox.1" ng-model="data.boolean">Checkbox</ion-checkbox>
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <div data-comp-id="div.4">
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4" style="padding: 10px 5px 5px 10px;">
                    <div class="" data-comp-id="text.4" style="font-size: 16px;">Section Four</div>
                </div>
            </div>
        </div>
        <!--Form Section-->
        <ion-radio class="radio-button positive-icon" data-comp-id="radio.1"
            ng-model="data.radioData.selected" ng-repeat="item in data.radioData.options"
            ng-value="item">{{item.label}}</ion-radio>
        <div data-comp-id="div.5" style="margin: 0% 4%;"></div>
        <!--Container 5-->
        <!--Container 6-->
        <div data-comp-id="div.6" style="margin: 15px 0px;">
            <div class="row light-bg" data-comp-id="row.5" style="padding: 0px;">
                <div class="col" data-comp-id="column.5" style="padding: 0px;">
                    <label class="item item-input item-time-icon positive-icon"
                        data-comp-id="timeInput.1">
                        <span class="input-label">Time</span>
                        <input ng-model="data.time" time-format="undefined" type="time">
                    </label>
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.1">
                        <span class="input-label">Date</span>
                        <input date-format="undefined" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" ng-model="data.date" type="date">
                    </label>
                </div>
            </div>
        </div>
        <!--Container 6-->
        <!--Container 7-->
        <div data-comp-id="div.7" style="margin: 10px 0px;">
            <ion-toggle class="toggle-item" data-comp-id="toggle.1" ng-model="data.boolean2"
                toggle-class=" toggle-positive">Toggle</ion-toggle>
        </div>
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class=" light-bg" data-comp-id="div.8" style="margin: 10px 0px;">
            <div class="row" data-comp-id="row.6" style="padding: 0px;">
                <div class="col" data-comp-id="column.6" style="padding: 0px;">
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.1" style="margin: 0px;">
                        <textarea ng-model="data.string3" placeholder="Write your comments here"
                            rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div data-comp-id="div.9">
            <button class="button button-block button-positive" data-comp-id="button.3"
                ng-click="app.action('form', 'submit', this)">Submit</button>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.7" style="padding: 0px; margin: 0px;">
            <div class="col text-center" data-comp-id="column.7" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button
                        class="button icon button-round button-shadowed ion-arrow-left-c button-calm"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.5">Cancel</div>
            </div>
            <div class="col text-center" data-comp-id="column.8" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.9" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button
                        class="button icon ion-arrow-right-c button-round button-shadowed button-energized"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.6">Continue</div>
            </div>
        </div>
    </div>
</ion-view>