<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar class="bar-light bar-subheader" data-comp-id="header-bar.1"
        dynamic-fixed-header=""></ion-header-bar>
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">RealTime Data</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <include-screen data-comp-id="includeScreen.1" name="" screen-data="{}"></include-screen>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.1" style="padding: 0px;">
            <div class="col" data-comp-id="column.1" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-round button-shadowed ion-android-add-circle"></button>
                    <div class="label">ADD</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.2" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed ion-compose"></button>
                    <div class="label">Edit</div>
                </div>
            </div>
            <div class="col text-right" data-comp-id="column.3" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.3">
                    <button class="button icon ion-android-person button-round button-shadowed"></button>
                    <div class="label">Personal</div>
                </div>
            </div>
        </div>
    </div>
</ion-view>